@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #091016; /* Example color code, use a color picker to get the exact shade */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.vocaixa-heading {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: rgb(24, 1, 17);
  transition: all 0.3s;
}

.vocaixa-heading:hover {
  -webkit-text-stroke-width: 4px; /* increase stroke width on hover */
}

.audio-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}